page-newpage {
  .urgency{
    background-color: #ff0000;
    text-align: left;
    font-size: 20pt;
  }

  #steps{
    background-color: #666666;
  }

  #altnames{
    background-color: #4186c4;
  }

  div {
    display: inline-block;
  }

  ion-row{
    color: white;
    margin-bottom: 10px;
  }

}
